body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Ficha_otros_productos_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:178px;
    top:249px;
    width:821px;
    height:851px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:827px;
    height:857px;
}

.u1 {
    position:absolute;
    left:2px;
    top:418px;
    width:817px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Cabecera_files/u69_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:997px;
    height:122px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1003px;
    height:128px;
}

.u3 {
    position:absolute;
    left:2px;
    top:53px;
    width:993px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:98px;
    top:101px;
    width:104px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Cabecera_files/u72_normal.png');
}

.u5_container {
    position:absolute;
    left:22px;
    top:19px;
    width:338px;
    height:50px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:344px;
    height:56px;
}

.u6 {
    position:absolute;
    left:2px;
    top:17px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:728px;
    top:102px;
    width:91px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:222px;
    top:102px;
    width:165px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:22px;
    top:101px;
    width:66px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:608px;
    top:102px;
    width:110px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:950px;
    top:23px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:850px;
    top:55px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Cabecera_files/u80_normal.png');
}

.u13_container {
    position:absolute;
    left:730px;
    top:55px;
    width:90px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:740px;
    top:62px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:660px;
    top:19px;
    width:297px;
    height:31px;
    overflow:hidden;
}

#pd1u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:297px;
    height:31px;
    
}

.u17 {
    position:absolute;
    left:100px;
    top:4px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:4px;
    top:4px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:297px;
    height:31px;
    
}

.u19 {
    position:absolute;
    left:27px;
    top:4px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:212px;
    top:4px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:825px;
    top:102px;
    width:110px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:391px;
    top:102px;
    width:211px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Cabecera_files/u90_normal.png');
}

.u23_container {
    position:absolute;
    left:470px;
    top:24px;
    width:100px;
    height:47px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:53px;
}

.u24 {
    position:absolute;
    left:2px;
    top:16px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Pie_files/u8_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:1350px;
    width:1000px;
    height:180px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:186px;
}

.u27 {
    position:absolute;
    left:2px;
    top:82px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:374px;
    top:1495px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:454px;
    top:1495px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../Pie_files/u12_line.png');
}

.u30_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u30 {
    position:absolute;
    left:546px;
    top:1494px;
    width:10px;
    height:15px;
    
}

.u31_line {
    background-image: url('../Pie_files/u13_line.png');
}

.u31_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u31 {
    position:absolute;
    left:442px;
    top:1494px;
    width:10px;
    height:15px;
    
}

.u32 {
    position:absolute;
    left:558px;
    top:1495px;
    width:50px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:79px;
    top:1364px;
    width:74px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:10px;
    top:1470px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:166px;
    top:1470px;
    width:674px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:213px;
    top:1364px;
    width:106px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:523px;
    top:1364px;
    width:84px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:661px;
    top:1364px;
    width:69px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:807px;
    top:1364px;
    width:71px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:393px;
    top:1364px;
    width:60px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u42_container {
    position:absolute;
    left:131px;
    top:1364px;
    width:30px;
    height:28px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u44_container {
    position:absolute;
    left:323px;
    top:1364px;
    width:30px;
    height:28px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u45 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u46_container {
    position:absolute;
    left:449px;
    top:1364px;
    width:30px;
    height:28px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u47 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u48_container {
    position:absolute;
    left:595px;
    top:1364px;
    width:30px;
    height:28px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u49 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u50_container {
    position:absolute;
    left:727px;
    top:1364px;
    width:30px;
    height:28px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u51 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u52_container {
    position:absolute;
    left:857px;
    top:1364px;
    width:30px;
    height:28px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u53 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:79px;
    top:1420px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:213px;
    top:1404px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:389px;
    top:1404px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:523px;
    top:1404px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:663px;
    top:1404px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:805px;
    top:1404px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Pie_files/u42_normal.png');
}

.u60_container {
    position:absolute;
    left:850px;
    top:1474px;
    width:140px;
    height:34px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:34px;
}

.u61 {
    position:absolute;
    left:2px;
    top:9px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Siguenos_en_files/u44_normal.png');
}

.u62_container {
    position:absolute;
    left:243px;
    top:1495px;
    width:22px;
    height:14px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:20px;
}

.u63 {
    position:absolute;
    left:2px;
    top:-1px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:268px;
    top:1498px;
    width:42px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Siguenos_en_files/u44_normal.png');
}

.u65_container {
    position:absolute;
    left:170px;
    top:1495px;
    width:22px;
    height:14px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:20px;
}

.u66 {
    position:absolute;
    left:2px;
    top:-1px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:194px;
    top:1498px;
    width:49px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:213px;
    top:1420px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:389px;
    top:1420px;
    width:80px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:523px;
    top:1420px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:663px;
    top:1420px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:807px;
    top:1420px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Ficha_otros_productos_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:679px;
    top:300px;
    width:311px;
    height:135px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:317px;
    height:141px;
}

.u76 {
    position:absolute;
    left:2px;
    top:60px;
    width:307px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:184px;
    top:186px;
    width:806px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_line {
    background-image: url('../Ficha_otros_productos_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:0px;
    top:4px;
    width:806px;
    height:3px;
}

.u78 {
    position:absolute;
    left:184px;
    top:229px;
    width:806px;
    height:10px;
    
}

.u79_normal {
    background-image: url('../Ficha_otros_productos_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:877px;
    top:361px;
    width:96px;
    height:37px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:43px;
}

.u80 {
    position:absolute;
    left:2px;
    top:10px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:783px;
    top:315px;
    width:103px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:10px;
    top:150px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:70px;
    top:150px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:104px;
    top:150px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:711px;
    top:371px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Comparte_files/u113_normal.png');
}

.u87_container {
    position:absolute;
    left:498px;
    top:1054px;
    width:77px;
    height:27px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:77px;
    height:27px;
}

.u88 {
    position:absolute;
    left:2px;
    top:6px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Comparte_files/u115_normal.png');
}

.u89_container {
    position:absolute;
    left:585px;
    top:1054px;
    width:106px;
    height:29px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:29px;
}

.u90 {
    position:absolute;
    left:2px;
    top:6px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Comparte_files/u117_normal.png');
}

.u91_container {
    position:absolute;
    left:408px;
    top:1060px;
    width:77px;
    height:18px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:24px;
}

.u92 {
    position:absolute;
    left:2px;
    top:1px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u93 {
    position:absolute;
    left:265px;
    top:850px;
    width:212px;
    height:201px;
    overflow:hidden;
}

#pd0u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:212px;
    height:201px;
    
}

.u94_normal {
    background-image: url('../Comparte_1_files/u120_normal.png');
}

.u94_container {
    position:absolute;
    left:5px;
    top:8px;
    width:200px;
    height:185px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:191px;
}

.u95 {
    position:absolute;
    left:2px;
    top:84px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Comparte_1_files/u122_normal.png');
}

.u96_container {
    position:absolute;
    left:19px;
    top:36px;
    width:21px;
    height:21px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Comparte_1_files/u124_normal.png');
}

.u98_container {
    position:absolute;
    left:19px;
    top:61px;
    width:21px;
    height:21px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../Comparte_1_files/u126_normal.png');
}

.u100_container {
    position:absolute;
    left:19px;
    top:87px;
    width:21px;
    height:21px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../Comparte_1_files/u128_normal.png');
}

.u102_container {
    position:absolute;
    left:20px;
    top:112px;
    width:20px;
    height:21px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:21px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Comparte_1_files/u130_normal.png');
}

.u104_container {
    position:absolute;
    left:20px;
    top:138px;
    width:21px;
    height:21px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Comparte_1_files/u132_normal.png');
}

.u106_container {
    position:absolute;
    left:20px;
    top:164px;
    width:20px;
    height:21px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:21px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Comparte_1_files/u134_normal.png');
}

.u108_container {
    position:absolute;
    left:43px;
    top:63px;
    width:66px;
    height:19px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:25px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Comparte_1_files/u134_normal.png');
}

.u110_container {
    position:absolute;
    left:43px;
    top:40px;
    width:66px;
    height:19px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:25px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Comparte_1_files/u138_normal.png');
}

.u112_container {
    position:absolute;
    left:43px;
    top:166px;
    width:107px;
    height:19px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:25px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Comparte_1_files/u134_normal.png');
}

.u114_container {
    position:absolute;
    left:43px;
    top:89px;
    width:66px;
    height:19px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:25px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Comparte_1_files/u134_normal.png');
}

.u116_container {
    position:absolute;
    left:43px;
    top:114px;
    width:66px;
    height:19px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:25px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Comparte_1_files/u134_normal.png');
}

.u118_container {
    position:absolute;
    left:43px;
    top:139px;
    width:66px;
    height:19px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:25px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../Comparte_1_files/u146_normal.png');
}

.u120_container {
    position:absolute;
    left:145px;
    top:16px;
    width:52px;
    height:20px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:26px;
}

.u121 {
    position:absolute;
    left:2px;
    top:3px;
    width:48px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u123 {
    position:absolute;
    left:140px;
    top:14px;
    width:60px;
    height:23px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u125_normal {
    background-image: url('../Carrusel_recomendados_files/u151_normal.png');
}

.u125_container {
    position:absolute;
    left:178px;
    top:1120px;
    width:824px;
    height:209px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:830px;
    height:215px;
}

.u126 {
    position:absolute;
    left:2px;
    top:96px;
    width:820px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../Carrusel_recomendados_files/u153_normal.png');
}

.u127_container {
    position:absolute;
    left:178px;
    top:1290px;
    width:824px;
    height:40px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:830px;
    height:46px;
}

.u128 {
    position:absolute;
    left:2px;
    top:12px;
    width:820px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../Carrusel_recomendados_files/u161_normal.png');
}

.u135_container {
    position:absolute;
    left:963px;
    top:1295px;
    width:29px;
    height:29px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:35px;
}

.u136 {
    position:absolute;
    left:2px;
    top:3px;
    width:25px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../Carrusel_recomendados_files/u161_normal.png');
}

.u137_container {
    position:absolute;
    left:932px;
    top:1295px;
    width:29px;
    height:29px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:35px;
}

.u138 {
    position:absolute;
    left:2px;
    top:3px;
    width:25px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:197px;
    top:1128px;
    width:545px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../Vino_Carruse_files/u179_normal.png');
}

.u140_container {
    position:absolute;
    left:197px;
    top:1154px;
    width:169px;
    height:130px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:136px;
}

.u141 {
    position:absolute;
    left:2px;
    top:57px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:244px;
    top:1164px;
    width:116px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../Vino_Carruse_files/u182_normal.png');
}

.u143_container {
    position:absolute;
    left:205px;
    top:1157px;
    width:32px;
    height:89px;
}

#u143_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:89px;
}

.u144 {
    position:absolute;
    left:2px;
    top:36px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:256px;
    top:1230px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:244px;
    top:1200px;
    width:123px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../Vino_Carruse_files/u186_normal.png');
}

.u147_container {
    position:absolute;
    left:205px;
    top:1256px;
    width:40px;
    height:22px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:22px;
}

.u148 {
    position:absolute;
    left:2px;
    top:3px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:252px;
    top:1257px;
    width:107px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../Vino_Carruse_files/u179_normal.png');
}

.u151_container {
    position:absolute;
    left:398px;
    top:1154px;
    width:169px;
    height:130px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:136px;
}

.u152 {
    position:absolute;
    left:2px;
    top:57px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:445px;
    top:1164px;
    width:116px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../Vino_Carruse_files/u182_normal.png');
}

.u154_container {
    position:absolute;
    left:406px;
    top:1157px;
    width:32px;
    height:89px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:89px;
}

.u155 {
    position:absolute;
    left:2px;
    top:36px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:457px;
    top:1230px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:445px;
    top:1200px;
    width:123px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../Vino_Carruse_files/u186_normal.png');
}

.u158_container {
    position:absolute;
    left:406px;
    top:1256px;
    width:40px;
    height:22px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:22px;
}

.u159 {
    position:absolute;
    left:2px;
    top:3px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:453px;
    top:1257px;
    width:107px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../Vino_Carruse_files/u179_normal.png');
}

.u162_container {
    position:absolute;
    left:603px;
    top:1154px;
    width:169px;
    height:130px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:136px;
}

.u163 {
    position:absolute;
    left:2px;
    top:57px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:650px;
    top:1164px;
    width:116px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../Vino_Carruse_files/u182_normal.png');
}

.u165_container {
    position:absolute;
    left:611px;
    top:1157px;
    width:32px;
    height:89px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:89px;
}

.u166 {
    position:absolute;
    left:2px;
    top:36px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:662px;
    top:1230px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:650px;
    top:1200px;
    width:123px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../Vino_Carruse_files/u186_normal.png');
}

.u169_container {
    position:absolute;
    left:611px;
    top:1256px;
    width:40px;
    height:22px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:22px;
}

.u170 {
    position:absolute;
    left:2px;
    top:3px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:658px;
    top:1257px;
    width:107px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../Vino_Carruse_files/u179_normal.png');
}

.u173_container {
    position:absolute;
    left:808px;
    top:1154px;
    width:169px;
    height:130px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:136px;
}

.u174 {
    position:absolute;
    left:2px;
    top:57px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:855px;
    top:1164px;
    width:116px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../Vino_Carruse_files/u182_normal.png');
}

.u176_container {
    position:absolute;
    left:816px;
    top:1157px;
    width:32px;
    height:89px;
}

#u176_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:89px;
}

.u177 {
    position:absolute;
    left:2px;
    top:36px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:867px;
    top:1230px;
    width:97px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:855px;
    top:1200px;
    width:123px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../Vino_Carruse_files/u186_normal.png');
}

.u180_container {
    position:absolute;
    left:816px;
    top:1256px;
    width:40px;
    height:22px;
}

#u180_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:22px;
}

.u181 {
    position:absolute;
    left:2px;
    top:3px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:863px;
    top:1257px;
    width:107px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:14px;
    top:348px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:783px;
    top:369px;
    width:84px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u187 {
    position:absolute;
    left:397px;
    top:285px;
    width:243px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:860px;
    top:325px;
    width:80px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../Ficha_otros_productos_files/u189_normal.png');
}

.u189_container {
    position:absolute;
    left:195px;
    top:285px;
    width:185px;
    height:125px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:125px;
}

.u190 {
    position:absolute;
    left:2px;
    top:54px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../Ficha_otros_productos_files/u191_normal.png');
}

.u191_container {
    position:absolute;
    left:682px;
    top:452px;
    width:308px;
    height:178px;
}

#u191_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:178px;
}

.u192 {
    position:absolute;
    left:2px;
    top:81px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../Ficha_otros_productos_files/u191_normal.png');
}

.u193_container {
    position:absolute;
    left:682px;
    top:650px;
    width:308px;
    height:178px;
}

#u193_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:178px;
}

.u194 {
    position:absolute;
    left:2px;
    top:81px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../Ficha_otros_productos_files/u191_normal.png');
}

.u195_container {
    position:absolute;
    left:682px;
    top:850px;
    width:308px;
    height:178px;
}

#u195_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:178px;
}

.u196 {
    position:absolute;
    left:2px;
    top:81px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:195px;
    top:435px;
    width:474px;
    height:496px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../Lateral_izquierdo_La_Tienda___otros_files/u108_normal.png');
}

.u198_container {
    position:absolute;
    left:8px;
    top:270px;
    width:158px;
    height:30px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:36px;
}

.u199 {
    position:absolute;
    left:2px;
    top:4px;
    width:154px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../Lateral_izquierdo_La_Tienda___otros_files/u108_normal.png');
}

.u200_container {
    position:absolute;
    left:8px;
    top:230px;
    width:158px;
    height:30px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:36px;
}

.u201 {
    position:absolute;
    left:2px;
    top:4px;
    width:154px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../Lateral_izquierdo_La_Tienda___otros_files/u108_normal.png');
}

.u202_container {
    position:absolute;
    left:8px;
    top:190px;
    width:158px;
    height:30px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:36px;
}

.u203 {
    position:absolute;
    left:2px;
    top:4px;
    width:154px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../Lateral_izquierdo_La_Tienda___otros_files/u114_normal.png');
}

.u204_container {
    position:absolute;
    left:10px;
    top:747px;
    width:153px;
    height:80px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:159px;
    height:86px;
}

.u205 {
    position:absolute;
    left:2px;
    top:16px;
    width:149px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../Lateral_izquierdo_La_Tienda___otros_files/u116_normal.png');
}

.u206_container {
    position:absolute;
    left:8px;
    top:311px;
    width:158px;
    height:30px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:36px;
}

.u207 {
    position:absolute;
    left:2px;
    top:4px;
    width:154px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../Destacado_Enoturismo_estrecho_files/u492_normal.png');
}

.u208_container {
    position:absolute;
    left:7px;
    top:493px;
    width:160px;
    height:240px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:246px;
}

.u209 {
    position:absolute;
    left:2px;
    top:112px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:30px;
    top:664px;
    width:97px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:15px;
    top:500px;
    width:152px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../Destacado_Enoturismo_estrecho_files/u496_normal.png');
}

.u212_container {
    position:absolute;
    left:15px;
    top:538px;
    width:142px;
    height:112px;
}

#u212_img {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:112px;
}

.u213 {
    position:absolute;
    left:2px;
    top:48px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:73px;
    top:703px;
    width:84px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217_normal {
    background-image: url('../Bloque_ayuda_estrecho_files/u501_normal.png');
}

.u217_container {
    position:absolute;
    left:7px;
    top:351px;
    width:160px;
    height:130px;
}

#u217_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:136px;
}

.u218 {
    position:absolute;
    left:2px;
    top:33px;
    width:156px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:15px;
    top:358px;
    width:152px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

