body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:10px;
    top:188px;
    width:1008px;
    height:1423px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1008px;
    height:1423px;
    
}

.u1_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u1_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u1_container {
    position:absolute;
    left:540px;
    top:770px;
    width:80px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Pie_files/u8_normal.png');
}

.u3_container {
    position:absolute;
    left:2px;
    top:812px;
    width:1000px;
    height:180px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:186px;
}

.u4 {
    position:absolute;
    left:2px;
    top:82px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:366px;
    top:957px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:446px;
    top:957px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../Pie_files/u12_line.png');
}

.u7_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u7 {
    position:absolute;
    left:538px;
    top:956px;
    width:10px;
    height:15px;
    
}

.u8_line {
    background-image: url('../Pie_files/u13_line.png');
}

.u8_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u8 {
    position:absolute;
    left:434px;
    top:956px;
    width:10px;
    height:15px;
    
}

.u9 {
    position:absolute;
    left:550px;
    top:957px;
    width:50px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:71px;
    top:826px;
    width:74px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:2px;
    top:932px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:158px;
    top:932px;
    width:674px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:205px;
    top:826px;
    width:106px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:515px;
    top:826px;
    width:84px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:653px;
    top:826px;
    width:69px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:799px;
    top:826px;
    width:71px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:385px;
    top:826px;
    width:60px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u19_container {
    position:absolute;
    left:123px;
    top:826px;
    width:30px;
    height:28px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u21_container {
    position:absolute;
    left:315px;
    top:826px;
    width:30px;
    height:28px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u22 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u23_container {
    position:absolute;
    left:441px;
    top:826px;
    width:30px;
    height:28px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u24 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u25_container {
    position:absolute;
    left:587px;
    top:826px;
    width:30px;
    height:28px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u27_container {
    position:absolute;
    left:719px;
    top:826px;
    width:30px;
    height:28px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u29_container {
    position:absolute;
    left:849px;
    top:826px;
    width:30px;
    height:28px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u30 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:71px;
    top:882px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:205px;
    top:866px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:381px;
    top:866px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:515px;
    top:866px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:655px;
    top:866px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:797px;
    top:866px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Pie_files/u42_normal.png');
}

.u37_container {
    position:absolute;
    left:842px;
    top:936px;
    width:140px;
    height:34px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:34px;
}

.u38 {
    position:absolute;
    left:2px;
    top:9px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Siguenos_en_files/u44_normal.png');
}

.u39_container {
    position:absolute;
    left:235px;
    top:957px;
    width:22px;
    height:14px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:20px;
}

.u40 {
    position:absolute;
    left:2px;
    top:-1px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:260px;
    top:960px;
    width:42px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Siguenos_en_files/u44_normal.png');
}

.u42_container {
    position:absolute;
    left:162px;
    top:957px;
    width:22px;
    height:14px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:20px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-1px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:186px;
    top:960px;
    width:49px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:205px;
    top:882px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:381px;
    top:882px;
    width:80px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:515px;
    top:882px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:655px;
    top:882px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:799px;
    top:882px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:309px;
    top:16px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:401px;
    top:12px;
    width:324px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:735px;
    top:12px;
    width:46px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:190px;
    top:73px;
    width:180px;
    height:209px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u56 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u57_container {
    position:absolute;
    left:393px;
    top:73px;
    width:180px;
    height:209px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u58 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u59_container {
    position:absolute;
    left:596px;
    top:73px;
    width:180px;
    height:209px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u60 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u61_container {
    position:absolute;
    left:799px;
    top:73px;
    width:180px;
    height:209px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u62 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u63_container {
    position:absolute;
    left:190px;
    top:302px;
    width:180px;
    height:209px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u64 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u65_container {
    position:absolute;
    left:393px;
    top:302px;
    width:180px;
    height:209px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u66 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u67_container {
    position:absolute;
    left:596px;
    top:302px;
    width:180px;
    height:209px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u68 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u69_container {
    position:absolute;
    left:799px;
    top:302px;
    width:180px;
    height:209px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u70 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u71_container {
    position:absolute;
    left:190px;
    top:534px;
    width:180px;
    height:209px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u72 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u73_container {
    position:absolute;
    left:393px;
    top:534px;
    width:180px;
    height:209px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u74 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u75_container {
    position:absolute;
    left:596px;
    top:534px;
    width:180px;
    height:209px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u76 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Home_Otros_productos_files/u55_normal.png');
}

.u77_container {
    position:absolute;
    left:799px;
    top:534px;
    width:180px;
    height:209px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:215px;
}

.u78 {
    position:absolute;
    left:2px;
    top:96px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Cabecera_files/u69_normal.png');
}

.u79_container {
    position:absolute;
    left:10px;
    top:10px;
    width:997px;
    height:122px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1003px;
    height:128px;
}

.u80 {
    position:absolute;
    left:2px;
    top:53px;
    width:993px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:98px;
    top:101px;
    width:104px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Cabecera_files/u72_normal.png');
}

.u82_container {
    position:absolute;
    left:22px;
    top:19px;
    width:338px;
    height:50px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:344px;
    height:56px;
}

.u83 {
    position:absolute;
    left:2px;
    top:17px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:728px;
    top:102px;
    width:91px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:222px;
    top:102px;
    width:165px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:22px;
    top:101px;
    width:66px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:608px;
    top:102px;
    width:110px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:950px;
    top:23px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:850px;
    top:55px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../Cabecera_files/u80_normal.png');
}

.u90_container {
    position:absolute;
    left:730px;
    top:55px;
    width:90px;
    height:30px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u91 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:740px;
    top:62px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u93 {
    position:absolute;
    left:660px;
    top:19px;
    width:297px;
    height:31px;
    overflow:hidden;
}

#pd1u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:297px;
    height:31px;
    
}

.u94 {
    position:absolute;
    left:100px;
    top:4px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:4px;
    top:4px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:297px;
    height:31px;
    
}

.u96 {
    position:absolute;
    left:27px;
    top:4px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:212px;
    top:4px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:825px;
    top:102px;
    width:110px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:391px;
    top:102px;
    width:211px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../Cabecera_files/u90_normal.png');
}

.u100_container {
    position:absolute;
    left:470px;
    top:24px;
    width:100px;
    height:47px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:53px;
}

.u101 {
    position:absolute;
    left:2px;
    top:16px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:10px;
    top:143px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:70px;
    top:143px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:104px;
    top:143px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:14px;
    top:348px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Lateral_izquierdo_La_Tienda___otros_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:15px;
    top:280px;
    width:158px;
    height:30px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:36px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:154px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Lateral_izquierdo_La_Tienda___otros_files/u108_normal.png');
}

.u110_container {
    position:absolute;
    left:15px;
    top:240px;
    width:158px;
    height:30px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:36px;
}

.u111 {
    position:absolute;
    left:2px;
    top:4px;
    width:154px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Lateral_izquierdo_La_Tienda___otros_files/u108_normal.png');
}

.u112_container {
    position:absolute;
    left:15px;
    top:200px;
    width:158px;
    height:30px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:36px;
}

.u113 {
    position:absolute;
    left:2px;
    top:4px;
    width:154px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Lateral_izquierdo_La_Tienda___otros_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:17px;
    top:757px;
    width:153px;
    height:80px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:159px;
    height:86px;
}

.u115 {
    position:absolute;
    left:2px;
    top:16px;
    width:149px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Lateral_izquierdo_La_Tienda___otros_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:15px;
    top:321px;
    width:158px;
    height:30px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:36px;
}

.u117 {
    position:absolute;
    left:2px;
    top:4px;
    width:154px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Destacado_Enoturismo_estrecho_files/u492_normal.png');
}

.u118_container {
    position:absolute;
    left:14px;
    top:503px;
    width:160px;
    height:240px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:246px;
}

.u119 {
    position:absolute;
    left:2px;
    top:112px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:37px;
    top:674px;
    width:97px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:22px;
    top:510px;
    width:152px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../Destacado_Enoturismo_estrecho_files/u496_normal.png');
}

.u122_container {
    position:absolute;
    left:22px;
    top:548px;
    width:142px;
    height:112px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:112px;
}

.u123 {
    position:absolute;
    left:2px;
    top:48px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:80px;
    top:713px;
    width:84px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../Bloque_ayuda_estrecho_files/u501_normal.png');
}

.u127_container {
    position:absolute;
    left:14px;
    top:361px;
    width:160px;
    height:130px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:136px;
}

.u128 {
    position:absolute;
    left:2px;
    top:33px;
    width:156px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:22px;
    top:368px;
    width:152px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

