body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Empresas_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:14px;
    top:179px;
    width:952px;
    height:355px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:958px;
    height:361px;
}

.u1 {
    position:absolute;
    left:2px;
    top:170px;
    width:948px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Empresas_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:26px;
    top:194px;
    width:910px;
    height:320px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:916px;
    height:326px;
}

.u3 {
    position:absolute;
    left:2px;
    top:152px;
    width:906px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:101px;
    top:42px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:172px;
    top:42px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:615px;
    top:42px;
    width:99px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:719px;
    top:42px;
    width:137px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../Empresas_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u8 {
    position:absolute;
    left:603px;
    top:41px;
    width:10px;
    height:15px;
    
}

.u9_line {
    background-image: url('../Empresas_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u9 {
    position:absolute;
    left:264px;
    top:41px;
    width:10px;
    height:15px;
    
}

.u10_line {
    background-image: url('../Empresas_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u10 {
    position:absolute;
    left:160px;
    top:41px;
    width:10px;
    height:15px;
    
}

.u11 {
    position:absolute;
    left:275px;
    top:42px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../Empresas_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u12 {
    position:absolute;
    left:350px;
    top:41px;
    width:10px;
    height:15px;
    
}

.u13 {
    position:absolute;
    left:362px;
    top:42px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_line {
    background-image: url('../Empresas_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u14 {
    position:absolute;
    left:421px;
    top:41px;
    width:10px;
    height:15px;
    
}

.u15 {
    position:absolute;
    left:433px;
    top:42px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../Empresas_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u16 {
    position:absolute;
    left:544px;
    top:41px;
    width:10px;
    height:15px;
    
}

.u17 {
    position:absolute;
    left:556px;
    top:42px;
    width:50px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Cabecera_files/u69_normal.png');
}

.u18_container {
    position:absolute;
    left:10px;
    top:10px;
    width:997px;
    height:122px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1003px;
    height:128px;
}

.u19 {
    position:absolute;
    left:2px;
    top:53px;
    width:993px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:98px;
    top:101px;
    width:104px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Cabecera_files/u72_normal.png');
}

.u21_container {
    position:absolute;
    left:22px;
    top:19px;
    width:338px;
    height:50px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:344px;
    height:56px;
}

.u22 {
    position:absolute;
    left:2px;
    top:17px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:728px;
    top:102px;
    width:91px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:222px;
    top:102px;
    width:165px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:22px;
    top:101px;
    width:66px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:608px;
    top:102px;
    width:110px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:950px;
    top:23px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:850px;
    top:55px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Cabecera_files/u80_normal.png');
}

.u29_container {
    position:absolute;
    left:730px;
    top:55px;
    width:90px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:740px;
    top:62px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u32 {
    position:absolute;
    left:660px;
    top:19px;
    width:297px;
    height:31px;
    overflow:hidden;
}

#pd1u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:297px;
    height:31px;
    
}

.u33 {
    position:absolute;
    left:100px;
    top:4px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:4px;
    top:4px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:297px;
    height:31px;
    
}

.u35 {
    position:absolute;
    left:27px;
    top:4px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:212px;
    top:4px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:825px;
    top:102px;
    width:110px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:391px;
    top:102px;
    width:211px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Cabecera_files/u90_normal.png');
}

.u39_container {
    position:absolute;
    left:470px;
    top:24px;
    width:100px;
    height:47px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:53px;
}

.u40 {
    position:absolute;
    left:2px;
    top:16px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Pie_files/u8_normal.png');
}

.u42_container {
    position:absolute;
    left:-10px;
    top:1222px;
    width:1000px;
    height:180px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:186px;
}

.u43 {
    position:absolute;
    left:2px;
    top:82px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:354px;
    top:1367px;
    width:70px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:434px;
    top:1367px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../Pie_files/u12_line.png');
}

.u46_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u46 {
    position:absolute;
    left:526px;
    top:1366px;
    width:10px;
    height:15px;
    
}

.u47_line {
    background-image: url('../Pie_files/u13_line.png');
}

.u47_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u47 {
    position:absolute;
    left:422px;
    top:1366px;
    width:10px;
    height:15px;
    
}

.u48 {
    position:absolute;
    left:538px;
    top:1367px;
    width:50px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:59px;
    top:1236px;
    width:74px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:-10px;
    top:1342px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:146px;
    top:1342px;
    width:674px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:193px;
    top:1236px;
    width:106px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:503px;
    top:1236px;
    width:84px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:641px;
    top:1236px;
    width:69px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:787px;
    top:1236px;
    width:71px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:373px;
    top:1236px;
    width:60px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u58_container {
    position:absolute;
    left:111px;
    top:1236px;
    width:30px;
    height:28px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u59 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u60_container {
    position:absolute;
    left:303px;
    top:1236px;
    width:30px;
    height:28px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u61 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u62_container {
    position:absolute;
    left:429px;
    top:1236px;
    width:30px;
    height:28px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u63 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u64_container {
    position:absolute;
    left:575px;
    top:1236px;
    width:30px;
    height:28px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u65 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u66_container {
    position:absolute;
    left:707px;
    top:1236px;
    width:30px;
    height:28px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u67 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Pie_files/u24_normal.png');
}

.u68_container {
    position:absolute;
    left:837px;
    top:1236px;
    width:30px;
    height:28px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:34px;
}

.u69 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:59px;
    top:1292px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:193px;
    top:1276px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:369px;
    top:1276px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:503px;
    top:1276px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:643px;
    top:1276px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:785px;
    top:1276px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Pie_files/u42_normal.png');
}

.u76_container {
    position:absolute;
    left:830px;
    top:1346px;
    width:140px;
    height:34px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:34px;
}

.u77 {
    position:absolute;
    left:2px;
    top:9px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Siguenos_en_files/u44_normal.png');
}

.u78_container {
    position:absolute;
    left:223px;
    top:1367px;
    width:22px;
    height:14px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:20px;
}

.u79 {
    position:absolute;
    left:2px;
    top:-1px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:248px;
    top:1370px;
    width:42px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Siguenos_en_files/u44_normal.png');
}

.u81_container {
    position:absolute;
    left:150px;
    top:1367px;
    width:22px;
    height:14px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:20px;
}

.u82 {
    position:absolute;
    left:2px;
    top:-1px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:174px;
    top:1370px;
    width:49px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:193px;
    top:1292px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:369px;
    top:1292px;
    width:80px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:503px;
    top:1292px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:643px;
    top:1292px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:787px;
    top:1292px;
    width:116px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Empresas_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:724px;
    top:560px;
    width:264px;
    height:190px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:270px;
    height:196px;
}

.u92 {
    position:absolute;
    left:2px;
    top:87px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:20px;
    top:595px;
    width:694px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:20px;
    top:557px;
    width:732px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:30px;
    top:153px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:90px;
    top:153px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:124px;
    top:153px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:20px;
    top:738px;
    width:732px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:190px;
    top:790px;
    width:260px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101 {
    position:absolute;
    left:50px;
    top:793px;
    width:120px;
    height:272px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:190px;
    top:823px;
    width:260px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u103 {
    position:absolute;
    left:190px;
    top:854px;
    width:260px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:190px;
    top:887px;
    width:150px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105 {
    position:absolute;
    left:190px;
    top:919px;
    width:150px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u106 {
    position:absolute;
    left:190px;
    top:950px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u107 {
    position:absolute;
    left:190px;
    top:983px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u108 {
    position:absolute;
    left:190px;
    top:1015px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109 {
    position:absolute;
    left:190px;
    top:1047px;
    width:416px;
    height:50px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u111 {
    position:absolute;
    left:16px;
    top:0px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Empresas_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:490px;
    top:1138px;
    width:100px;
    height:25px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u113 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../bloque_codigos_promocionales_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:741px;
    top:793px;
    width:230px;
    height:190px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:196px;
}

.u115 {
    position:absolute;
    left:2px;
    top:87px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:757px;
    top:803px;
    width:200px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:757px;
    top:858px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u118 {
    position:absolute;
    left:791px;
    top:943px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u119 {
    position:absolute;
    left:757px;
    top:893px;
    width:201px;
    height:31px;
    overflow:hidden;
}

#pd0u119 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:31px;
    
}

.u120 {
    position:absolute;
    left:5px;
    top:10px;
    width:215px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

